
.Button-Home {
    color: white;
    cursor: pointer;
    width: fit-content;
}

.Nav-Login{
    font-size: calc(5px + 2vmin);
    background-color:rgb(171, 112, 226);
    border-radius: 10px;
    color: black;
    border-color: black;
    height: fit-content;
    padding: 2px 4px;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Font-Aws {
    font-size: calc(5px + 1vmin);
    color: black;
    transform: translate(0, 2px);
}

.text-icon-divide {
    margin-right: 5px;
}

.Nav-Login:hover{
    background-color: blueviolet;;
    
}
.Nav-Login:active{
    background-color: rgb(171, 112, 226);
    
}

.Nav-Register{
    font-size: calc(5px + 1vmin);
    text-decoration: underline;
    cursor: pointer;
    text-align: center;

}

.Nav-Register:hover {
    color: blueviolet;
}

.Nav-Register:active {
    color:white;
}

