.Home-Content-Container{
    min-width: 400px;
    max-width: 80%;
    margin: auto;
    padding: calc(5px + 1vmin);
    height: fit-content;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.Home-Col1-Container{
    
    margin: 5px 5px 5px 0;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

.Home-Col2-Container{
    
    margin: 5px 0 5px 5px;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.Results-Container {
    display: flex;
    flex-direction: column;
}

.Home-Sub-Placeholder{
    min-width: fit-content;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font: calc(20px + 3vmin);
    color: white;
}

.Home-Panel-Title {
    margin-bottom: calc(1vmin + 1px);
}

.Query-Msg-Container{
    text-align: center;
    font-style: italic;
    margin-bottom: calc(1vmin + 10px);
}

.Home-MAIN-Placeholder{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-Image {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    align-self: center;
    justify-content: center;
}