
.Nav-Container{
    background-color:  #282c34;
    font-size: calc(10px + 2vmin);
    min-width: 200px;
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 0;
    top: 0;
}

.Nav-Header{
    min-height: 5vh;
    text-align: center;
}

.Nav-Button-Container{
   display: flex;
   justify-content: space-between;
   padding: 0 4vw; 
   height: 5vh;
   min-height: fit-content;

}

.Content-Buffer {
    height: calc(10vh + 15px);
    min-height: calc(50px + 10vmin);
    z-index: 1;
}

.Nav-Button-Right{ 
    display: flex;
    flex-direction: column;
}

.flip-title-icon{
    display: inline-block;
    transform: rotateY(180deg);
}